<!DOCTYPE html>
{% extends "layout.html" %}
{% block script %}

<!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
<link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
<style>
    /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
#container {
    height: 500px;
    width: 800px;
    margin: 0 auto;
}

.highcharts-tooltip>span {
    padding: 10px;
    white-space: normal !important;
    width: 200px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.f32 .flag {
    vertical-align: middle !important;
}
	</style>
{% endblock script %}

{% block my_content %}
<!-- Confirmed, Recovered, Deaths Card -->
<!-- Plotly plot placeholder -->
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                    </div>
                </li>
            </ul>
        </nav>
<!-- Plotly plot placeholder -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
            <div class="col-6">
                <!-- Placeholder for map-->
                <div class="chart" id="plot_plotly_global">
                </div>
            </div>
        <div class="col">
        </div>
    </div>
</div>
<!-- Script to execute the Json ( we can create it also with looping) -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script><div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('plotly_bar',graphs,{});
    </script>
</div>

{% endblock my_content %}